@import './src/App';

.loan-card {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 1rem;
  margin-bottom: 1rem;
}

.loan-card-invested-text {
  font-size: 1.5rem;
  color: #009861;
}

.loan-card-header,
.loan-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.loan-card-invested-text,
.loan-card-cta-wrapper {
  margin-left: 1rem;
}

.loan-card-items {
  display: flex;
  flex-wrap: wrap;
}

.loan-item {
  margin: 0 1rem 0.5rem 0;
}

.loan-card .ant-btn-primary {
  @extend %yellow-btn;

}

.loan-card .ant-btn-primary:hover {
  @extend %yellow-btn-hover;
}
